/*
  =============== 
  Variables
  ===============
  */

:root {
  --text-blue: hsl(238, 29%, 16%);
  --text-red: hsl(14, 88%, 65%);
  --text-dkblue: hsl(237, 12%, 33%);
  --text-grblue: hsl(240, 6%, 50%);
  --text-lgblue: hsl(240, 5%, 91%);
}
html {
  box-sizing: border-box;
}
.img-cardbox {
  display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
}

.card {
  background: hsl(240, 5%, 91%);
  border-radius: 2rem;
  max-width: 56rem;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 50%;
}
.img-container img {
  width: 100%;
  height: auto;
  max-width: 15rem;
  margin: auto;
  display: block;
}
.questions-container {
}

@media (min-width: 56em) {
  .card {
    position: relative;
    display: flex;
    padding-right: 2res;
    margin: 6rem auto;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: 45%;
    background-position: -13% center;
  }
  .img-container,
  .questions-container {
    flex: 1;
    overflow: hidden;
  }

  .img-container {
    display: flex;
    align-items: center;
  }
  .img-container img {
    max-width: 25rem;
    transform: translateX(-4rem);
  }

  .img-cardbox {
    display: block;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 0;
    top: 57%;
    z-index: 1;
  }
}
